/* 字体 */
.container-fluid {
  
  font-family: 'Caveat', cursive;
}

/*  ゆっくり表示  */
  
body {
  animation: fadeIn 5s ease-in-out 0s 1 normal;
  -webkit-animation: fadeIn 5s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}



a {
  color: black !important;
  text-decoration: none !important;
}

h2 {
  padding-top: 70px;
  text-align: center;
  font-size: 70px !important;
}


img {

  width: 100% !important;
  height: auto !important;

}


.main {

  position: relative;

}

.main a {

  font-size: 20px;
}


.thailand {

  position: absolute;
  top: 56%;
  right: 26.5%;

}


.laos {
  position: absolute;
  top: 53.5%;
  right: 23.5%;


}


.cambodia {
  position: absolute;
  top: 59%;
  right: 23%;
}

.taiwan {

  position: absolute;
  top: 50%;
  right: 17%;
}


.italy {
  position: absolute;
  top: 41%;
  right: 48%;
}


.france {
  position: absolute;
  top: 36%;
  right: 52%;

}



